:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --white-color: #ffffff;
    --blue-color: #2196f3;
    --black-color: #000000;
    --address-text-color: rgba(255, 255, 255, 0.6);
    --primary-background: #f5f5f5;
    --secondary-background: #2f303a;
    --section-background: #f5f4fa;
  }
  .page {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 14px;
  }